
/* .App {
  text-align: center;
  margin-top: 20vh;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input{
  margin: 0.5rem 0;
  padding: 1rem;
  outline: none;
}

input:invalid:not(:placeholder-shown){
  border: 2px solid red;
}

input:valid:not(:placeholder-shown){
  border: 2px solid green;
}

.submit{
  border: 2px solid #000 !important;
  cursor: pointer;
} */



.App {
  text-align: center;
}

.form_start{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

form{
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

.form_body{
  text-align: left;
    padding: 20px 10px;
}
.form_body > *{
  padding: 5px;
}

.form__label{
  text-align: left;
  width: 40%;
}

.form_input{
  text-align: right;
  width: 60%;
}


button{
  background: #0563b4 !important;
  text-align: center;
  font-weight: 500;
  width: 100%;
}
p {
  color: red;
}